<div layout="column">
    <div layout-align="center center" layout-gt-sm="row">
        <form name="serviceForm">
            <md-input-container>
                <label>Service Name</label>
                <input ng-model="config.moduleName" name="sname" required/>
                <div ng-messages="serviceForm.sname.$error">
                    <div ng-message="required">Keep calm and enter service name.</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Module Path</label>
                <input ng-model="config.modulePath" name="path"/>
                <div ng-messages="serviceForm.path.$error">
                    <div ng-message="required">Module path required.</div>
                </div>
            </md-input-container>
            <md-checkbox ng-model="config.tfw" aria-label="Checkbox 1">TFW</md-checkbox>
            <md-button ng-click="prepare()" class="md-raised md-primary" ng-disabled="serviceForm.$invalid">Process</md-button>
        </form>
    </div>
    <div layout-align="center center" layout-gt-sm="column">
        <span><b>Module Path:</b> {{config.modulePath}}</span>
        <span><b>Pegasus Path:</b> {{config.pegasus}}</span>
    </div>

    <!--LIST FILES-->
    <div layout-align="center center" layout-gt-sm="column">
        <div class="loading-bar" ng-show="preparing">loading...</div>
        <table class="files" cellspacing="0" ng-hide="preparing">

            <tr ng-repeat="f in config.files">
                <td align="center">
                    <input type="checkbox" ng-model="f.process"/>
                </td>
                <td><a ui-sref="view({file:f.path})" class="view">{{f.name}}</a></td>
                <!--<td class="file">/foundation-guiwar/src/main/java/pegasus/project/foundation/FoundationRemoteConfig.java</td>-->
                <td class="{{f.color}}" align="center">{{f.status}}</td>
                
            </tr>
            <tr ng-hide="config.pristine">
                <td colspan="3">
                    <span style="margin-right: 10px">Total files : {{config.files.length}}</span>
                    <span style="margin-right: 10px">Found files : {{config.foundFiles}}</span>
                    <span style="margin-right: 10px">Not Found files : {{config.notFoundFiles}}</span>
                    <span style="margin-right: 10px">Processed files : {{config.processedFiles}}</span>
                </td>
            </tr>
        </table>
        <md-button ng-click="processAll()" class="md-raised md-warn" ng-disabled="config.files.length === 0 && processing">Run ALL</md-button>
    </div>

</div>
