#if($tfw)
-- <${servicename}>
INSERT INTO PCC_TRUSTEECUSTOMAUTHORIZATION (TRUSTEEID,PROTECTEDOBJECTID,CHANNELID,FUNCTION,ACTIVITY) VALUES('109', '101', 'IBN', '${servicename.toLowerCase()}', 'view');
INSERT INTO PCC_TRUSTEECUSTOMAUTHORIZATION (TRUSTEEID,PROTECTEDOBJECTID,CHANNELID,FUNCTION,ACTIVITY) VALUES('109', '101', 'IBN', '${servicename.toLowerCase()}', 'manage');
INSERT INTO PCC_TRUSTEECUSTOMAUTHORIZATION (TRUSTEEID,PROTECTEDOBJECTID,CHANNELID,FUNCTION,ACTIVITY) VALUES('109', '101', 'IBN', '${servicename.toLowerCase()}', 'sign');
INSERT INTO PCC_TRUSTEECUSTOMAUTHORIZATION (TRUSTEEID,PROTECTEDOBJECTID,CHANNELID,FUNCTION,ACTIVITY) VALUES('109', '101', 'IBN', '${servicename.toLowerCase()}', 'process');
-- </${servicename}>
#else
-- <${servicename}>
INSERT INTO PCC_TRUSTEECUSTOMAUTHORIZATION (TRUSTEEID,PROTECTEDOBJECTID,CHANNELID,FUNCTION,ACTIVITY) VALUES('109', '101', 'IBN', '${servicename.toLowerCase()}', 'view');
INSERT INTO PCC_TRUSTEECUSTOMAUTHORIZATION (TRUSTEEID,PROTECTEDOBJECTID,CHANNELID,FUNCTION,ACTIVITY) VALUES('109', '101', 'IBN', '${servicename.toLowerCase()}', 'manage');
INSERT INTO PCC_TRUSTEECUSTOMAUTHORIZATION (TRUSTEEID,PROTECTEDOBJECTID,CHANNELID,FUNCTION,ACTIVITY) VALUES('109', '101', 'IBN', '${servicename.toLowerCase()}', 'sign');
-- </${servicename}>
#end


